main {
  flex:1;
  background-color: #FA807F;
  background-image: url(../images/london-night.jpg);
  background-size: cover;
  background-blend-mode: darken;
  }

footer {
  height: 28px;
  background-color: #FFFAFA !important;
  margin-top: 14px;
  text-align: center;
  color: red;
  font-size: 12px;
}

footer > a:link {
  color: red;
}

footer > a:visited {
  color: red;
}

.container-fluid {
  background-color: #FFFAFA !important;
}

.container {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-left: 79px !important;
  margin-top: 51px !important;
}

.navbar-brand, .navbar-text {
  color: red !important;
}

.wrapper {
  height:100vh;
  display:flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 6px !important;
}

.peeps {
  background-color: #FFFAFA;
  height: 471px;
  overflow: auto;
  margin-top: 20px;
  border-radius: 5px;
}

.peep-single {
  padding-top: 5px;
  border-top: 1px solid #d9534f;
}

.new-peep {
  background-color: #FFFAFA;
  width: 400px !important;
  margin-top: 20px;
  padding-bottom: 8px;
  margin-left: 40px !important;
  border-radius: 5px;
}

.feedback-div {
  width: 216px;
  height: 29px;
  margin-left: 458px;
  margin-top: 3px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  border-radius: 4px;
  padding-top: 3px;
}

.trash-icon {
  color: #d43f3a;
  font-size: 12px;
  float: right;
}

.trash-icon:hover {
  color: #d43f3a;
  font-size: 14px;
}

.character-count {
  width: 174px;
  margin-left: 79px;
  margin-top: -25px;
}

.cloned-peep {
  background-color: rgb(254, 241, 233);
  margin: auto;
  width: 702px;
  margin-top: 110px;
  font-size: 32px;
  list-style-type: none;
  padding: 23px;
  border-radius: 10px;
  text-align: center;
  border: 3px solid #d9534f;
}

#count {
  float: right;
  margin-top: -30px;
  margin-right: 7px;
  font-weight: bold;
}

#peep-text {
  resize: none;
}

#peeps-header {
  color: red;
  padding-bottom: 5px;
}

#peep-author {
  margin-bottom: 1px;
}

#peep {
  color: red;
}

#peeps {
  list-style-type: none;
  margin-left: -16px;
  padding-right: 21px;
}

#peeps-counter {
  margin-left: 154px;
  margin-top: -27px;
}

#user-peeps-info {
  float: right;
  margin-top: 17px;
  font-size: 13px;
  font-style: italic;
  color: grey;
  margin-right: 4px;
}

#show-button {
  margin-top: 84px;
  margin-left: 125px;
}

#new-peep-button {
  margin-top: 8px;
}
